{% load static %}

<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="main_multiple_items">
                <div class="main_carusel_item">
                    <div class="main_carusel_item_block yellow_lite">
                        <div class="main_carusel_item_block_left">
                            <div class="main_carusel_item_block_left_content">
                                <h1 class="main_carusel_item_block_left_content">
                                    Аксессуары
                                </h1>
                                <p class="main_carusel_item_block_left_content">
                                    Удобные для вас и вашей семьи  
                                </p>
                                <a href="">
                                    <div class="main_carusel_item_block_left_content_button">
                                        <p class="main_carusel_item_block_left_content_button dark_yellow">В каталог</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="main_carusel_item_block_right">
                            <img src="item.png" alt="" class="main_carusel_item_block_right">
                            <p class="main_carusel_item_block_right dark_yellow">Уют и комфорт</p>
                        </div>
                    </div>
                </div>
                <div class="carusel_item">
                    <div class="main_carusel_item_block green_lite">
                        <div class="main_carusel_item_block_left">
                            <div class="main_carusel_item_block_left_content">
                                <h1 class="main_carusel_item_block_left_content">
                                    Аксессуары
                                </h1>
                                <p class="main_carusel_item_block_left_content">
                                    Удобные для вас и вашей семьи  
                                </p>
                                <a href="">
                                    <div class="main_carusel_item_block_left_content_button">
                                        <p class="main_carusel_item_block_left_content_button dark_green">В каталог</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="main_carusel_item_block_right">
                            <img src="item.png" alt="" class="main_carusel_item_block_right">
                            <p class="main_carusel_item_block_right dark_green">Уют и комфорт</p>
                        </div>
                    </div>
                </div>
                <div class="carusel_item">
                    <div class="main_carusel_item_block pink_lite">
                        <div class="main_carusel_item_block_left">
                            <div class="main_carusel_item_block_left_content">
                                <h1 class="main_carusel_item_block_left_content">
                                    Аксессуары
                                </h1>
                                <p class="main_carusel_item_block_left_content">
                                    Удобные для вас и вашей семьи  
                                </p>
                                <a href="">
                                    <div class="main_carusel_item_block_left_content_button">
                                        <p class="main_carusel_item_block_left_content_button">В каталог</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="main_carusel_item_block_right">
                            <img src="item.png" alt="" class="main_carusel_item_block_right">
                            <p class="main_carusel_item_block_right dark_pink">Уют и комфорт</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="margin_20_top"></div>