{% load static %}

<h1 class="title_of_top_titles">
    Top items
</h1>
<div class="margin_20_top"></div>



<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="main_multiple_items_top_sale">
                <div class="d-flex justify-content-center">
                    <div class="top_item_block">
                        <div class="top_item_block_photo">
                            <img src="item.png" alt="" class="top_item_block_photo">
                        </div>
                        <div class="top_item_block_title">
                            <h1 class="top_item_block_title">
                                Lorem, ipsum dolor.
                            </h1>
                        </div>
                        <div class="top_item_block_desc">
                            <p class="top_item_block_desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero repellat adipisci, eum inventore eaque eligendi.
                            </p>
                        </div>
                        <div class="top_item_block_button_field">
                            <a href="">
                                <div class="main_carusel_item_block_left_content_button">
                                    <p class="main_carusel_item_block_left_content_button">В каталог</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="top_item_block">
                        <div class="top_item_block_photo">
                            <img src="item.png" alt="" class="top_item_block_photo">
                        </div>
                        <div class="top_item_block_title">
                            <h1 class="top_item_block_title">
                                Lorem, ipsum dolor.
                            </h1>
                        </div>
                        <div class="top_item_block_desc">
                            <p class="top_item_block_desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero repellat adipisci, eum inventore eaque eligendi.
                            </p>
                        </div>
                        <div class="top_item_block_button_field">
                            <a href="">
                                <div class="main_carusel_item_block_left_content_button">
                                    <p class="main_carusel_item_block_left_content_button">В каталог</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="top_item_block">
                        <div class="top_item_block_photo">
                            <img src="item.png" alt="" class="top_item_block_photo">
                        </div>
                        <div class="top_item_block_title">
                            <h1 class="top_item_block_title">
                                Lorem, ipsum dolor.
                            </h1>
                        </div>
                        <div class="top_item_block_desc">
                            <p class="top_item_block_desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero repellat adipisci, eum inventore eaque eligendi.
                            </p>
                        </div>
                        <div class="top_item_block_button_field">
                            <a href="">
                                <div class="main_carusel_item_block_left_content_button">
                                    <p class="main_carusel_item_block_left_content_button">В каталог</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="top_item_block">
                        <div class="top_item_block_photo">
                            <img src="item.png" alt="" class="top_item_block_photo">
                        </div>
                        <div class="top_item_block_title">
                            <h1 class="top_item_block_title">
                                Lorem, ipsum dolor.
                            </h1>
                        </div>
                        <div class="top_item_block_desc">
                            <p class="top_item_block_desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero repellat adipisci, eum inventore eaque eligendi.
                            </p>
                        </div>
                        <div class="top_item_block_button_field">
                            <a href="">
                                <div class="main_carusel_item_block_left_content_button">
                                    <p class="main_carusel_item_block_left_content_button">В каталог</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="top_item_block">
                        <div class="top_item_block_photo">
                            <img src="item.png" alt="" class="top_item_block_photo">
                        </div>
                        <div class="top_item_block_title">
                            <h1 class="top_item_block_title">
                                Lorem, ipsum dolor.
                            </h1>
                        </div>
                        <div class="top_item_block_desc">
                            <p class="top_item_block_desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero repellat adipisci, eum inventore eaque eligendi.
                            </p>
                        </div>
                        <div class="top_item_block_button_field">
                            <a href="">
                                <div class="main_carusel_item_block_left_content_button">
                                    <p class="main_carusel_item_block_left_content_button">В каталог</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="top_item_block">
                        <div class="top_item_block_photo">
                            <img src="item.png" alt="" class="top_item_block_photo">
                        </div>
                        <div class="top_item_block_title">
                            <h1 class="top_item_block_title">
                                Lorem, ipsum dolor.
                            </h1>
                        </div>
                        <div class="top_item_block_desc">
                            <p class="top_item_block_desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero repellat adipisci, eum inventore eaque eligendi.
                            </p>
                        </div>
                        <div class="top_item_block_button_field">
                            <a href="">
                                <div class="main_carusel_item_block_left_content_button">
                                    <p class="main_carusel_item_block_left_content_button">В каталог</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="margin_20_top"></div>