{% load static %}
{% load mathfilters %}
{% load item_tags %}

<h1 class="title_of_top_titles">
    Top items
</h1>
<div class="margin_20_top"></div>


<!-- wedgwer3ghwer -->

<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="main_multiple_items_top_sale">

                {% for item in items %}
                    {% if item.is_active and item.is_top %}
                        {% if item.is_sale %}
                            <div class="d-flex justify-content-center">
                                <div class="product">
                                    <div class="d-flex justify-content-center align-items-center product_photo_field ">
                                        <a href="" class="product_photo">
                                            <img src="{{item.image.url}}" alt="" class="product_photo">
                                            <div class="product_discount  d-flex justify-content-center align-items-center">
                                                
                                                <p class="product_discount"> 
                                                    {{ item.curent_sale|mul:100|div:item.old_sale|sub:100|floatformat:"0" }}%
                                                </p>

                                            </div>
                                        </a>
                                    </div>
                                    <h1 class="product_title">{{item.name}}</h1>
                                    <div class="product_sale d-flex justify-content-between align-items-center">
                                        <p class="product_sale_left">{{item.old_sale}}</p>
                                        <p class="product_sale_right">{{item.curent_sale}}</p>
                                    </div>
                                    <p class="product_desc"> {{item.desc}}</p>
                    
                                    <div class="product_nav d-flex justify-content-between align-items-center">
                                        <input type="text" name="" id="" class="product_num" placeholder="кол">
                                        <a href="">
                                            <div class="product_button d-flex justify-content-center align-items-center">
                                                <p class="product_button">В корзину</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="d-flex justify-content-center">
                                <div class="product">
                                    <div class="d-flex justify-content-center align-items-center product_photo_field ">
                                        <a href="" class="product_photo">
                                            <img src="{{item.image.url}}" alt="" class="product_photo">
                                        </a>
                                    </div>
                                    <h1 class="product_title">{{item.name}}</h1>
                                    <div class="product_sale d-flex justify-content-between align-items-center">
                                        <p class="product_sale_right">{{item.curent_sale}}</p>
                                    </div>
                                    <p class="product_desc"> {{item.desc}}</p>
                    
                                    <div class="product_nav d-flex justify-content-between align-items-center">
                                        <input type="text" name="" id="" class="product_num" placeholder="кол">
                                        <a href="">
                                            <div class="product_button d-flex justify-content-center align-items-center">
                                                <p class="product_button">В корзину</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                

            </div>
        </div>
    </div>
</div>

<div class="margin_20_top"></div>