{% load static %}

<div class="container">
    <div class="row">
        <div class="col-lg-5 margin_20_bottom">
            <div class="trade_small_item pink_lite">
                <h1 class="trade_item_title">Lorem, ipsum, dolor.</h1>
                <p class="trade_item_desc">
                    Lorem, ipsum dolor, sit amet consectetur adipisicing elit. Vero quisquam eos reprehenderit possimus.
                </p>
                <div class="trade_item_button">
                    <a href="">
                        <div class="main_carusel_item_block_left_content_button">
                            <p class="main_carusel_item_block_left_content_button">В каталог</p>
                        </div>
                    </a>
                </div>
                <img src="item.png" alt="" class="trade_item_photo">
            </div>
        </div>
        <div class="col-lg-7 margin_20_bottom">
            <div class="trade_big_item green_lite">
                <h1 class="trade_item_title">Lorem, ipsum, dolor.</h1>
                <p class="trade_item_desc">
                    Lorem, ipsum dolor, sit amet consectetur adipisicing elit. Vero quisquam eos reprehenderit possimus.
                </p>
                <div class="trade_item_button">
                    <a href="">
                        <div class="main_carusel_item_block_left_content_button">
                            <p class="main_carusel_item_block_left_content_button">В каталог</p>
                        </div>
                    </a>
                </div>
                <img src="item.png" alt="" class="trade_item_photo">
            </div>
        </div>

        <div class="col-lg-7 margin_20_bottom">
            <div class="trade_big_item green_lite">
                <h1 class="trade_item_title">Lorem, ipsum, dolor.</h1>
                <p class="trade_item_desc">
                    Lorem, ipsum dolor, sit amet consectetur adipisicing elit. Vero quisquam eos reprehenderit possimus.
                </p>
                <div class="trade_item_button">
                    <a href="">
                        <div class="main_carusel_item_block_left_content_button">
                            <p class="main_carusel_item_block_left_content_button">В каталог</p>
                        </div>
                    </a>
                </div>
                <img src="item.png" alt="" class="trade_item_photo">
            </div>
        </div>

        <div class="col-lg-5 margin_20_bottom">
            <div class="trade_small_item pink_lite">
                <h1 class="trade_item_title">Lorem, ipsum, dolor.</h1>
                <p class="trade_item_desc">
                    Lorem, ipsum dolor, sit amet consectetur adipisicing elit. Vero quisquam eos reprehenderit possimus.
                </p>
                <div class="trade_item_button">
                    <a href="">
                        <div class="main_carusel_item_block_left_content_button">
                            <p class="main_carusel_item_block_left_content_button">В каталог</p>
                        </div>
                    </a>
                </div>
                <img src="item.png" alt="" class="trade_item_photo">
            </div>
        </div>
        
        <div class="col-lg-5 margin_20_bottom">
            <div class="trade_small_item pink_lite">
                <h1 class="trade_item_title">Lorem, ipsum, dolor.</h1>
                <p class="trade_item_desc">
                    Lorem, ipsum dolor, sit amet consectetur adipisicing elit. Vero quisquam eos reprehenderit possimus.
                </p>
                <div class="trade_item_button">
                    <a href="">
                        <div class="main_carusel_item_block_left_content_button">
                            <p class="main_carusel_item_block_left_content_button">В каталог</p>
                        </div>
                    </a>
                </div>
                <img src="item.png" alt="" class="trade_item_photo">
            </div>
        </div>
        <div class="col-lg-7 margin_20_bottom">
            <div class="trade_big_item green_lite">
                <h1 class="trade_item_title">Lorem, ipsum, dolor.</h1>
                <p class="trade_item_desc">
                    Lorem, ipsum dolor, sit amet consectetur adipisicing elit. Vero quisquam eos reprehenderit possimus.
                </p>
                <div class="trade_item_button">
                    <a href="">
                        <div class="main_carusel_item_block_left_content_button">
                            <p class="main_carusel_item_block_left_content_button">В каталог</p>
                        </div>
                    </a>
                </div>
                <img src="item.png" alt="" class="trade_item_photo">
            </div>
        </div>
        
    </div>
</div>