{% load static %}

<div class="container">
    <div class="row sub_menu">
        <div class="col-md d-flex justify-content-center align-items-center">
            <a href="{% url 'catalog' %}" class="sub_menu_button">
                <div class="sub_menu_button d-flex justify-content-center align-items-center">
                    <p class="sub_menu_button">Все товары</p>
                </div>
            </a>
        </div>
        <div class="col-md d-flex justify-content-center align-items-center">
            <a href="{% url 'category1' %}" class="sub_menu_button">
                <div class="sub_menu_button d-flex justify-content-center align-items-center">
                    <p class="sub_menu_button">Категория 1</p>
                </div>
            </a>
        </div>
        <div class="col-md d-flex justify-content-center align-items-center">
            <a href="{% url 'category2' %}" class="sub_menu_button">
                <div class="sub_menu_button d-flex justify-content-center align-items-center">
                    <p class="sub_menu_button">Категория 2</p>
                </div>
            </a>
        </div>
        <div class="col-md d-flex justify-content-center align-items-center">
            <a href="{% url 'category3' %}" class="sub_menu_button">
                <div class="sub_menu_button d-flex justify-content-center align-items-center">
                    <p class="sub_menu_button">Категория 3</p>
                </div>
            </a>
        </div>
        <div class="col-md d-flex justify-content-center align-items-center">
            <a href="{% url 'category4' %}" class="sub_menu_button">
                <div class="sub_menu_button d-flex justify-content-center align-items-center">
                    <p class="sub_menu_button">Категория 4</p>
                </div>
            </a>
        </div>
        <div class="col-md d-flex justify-content-center align-items-center">
            <a href="{% url 'category5' %}" class="sub_menu_button">
                <div class="sub_menu_button d-flex justify-content-center align-items-center">
                    <p class="sub_menu_button">Категория 5</p>
                </div>
            </a>
        </div>
    </div>
</div>