{% load static %}

<div class="container">
    <div class="row sub_menu">
        <div class="col-md-2 d-flex justify-content-center align-items-center">
            <a href="" class="sub_menu_button">
                <div class="sub_menu_button d-flex justify-content-center align-items-center">
                    <p class="sub_menu_button">Техника</p>
                </div>
            </a>
        </div>
        <div class="col-md-2 d-flex justify-content-center align-items-center">
            <a href="" class="sub_menu_button">
                <div class="sub_menu_button d-flex justify-content-center align-items-center">
                    <p class="sub_menu_button">Техника</p>
                </div>
            </a>
        </div>
        <div class="col-md-2 d-flex justify-content-center align-items-center">
            <a href="" class="sub_menu_button">
                <div class="sub_menu_button d-flex justify-content-center align-items-center">
                    <p class="sub_menu_button">Техника</p>
                </div>
            </a>
        </div>
        <div class="col-md-2 d-flex justify-content-center align-items-center">
            <a href="" class="sub_menu_button">
                <div class="sub_menu_button d-flex justify-content-center align-items-center">
                    <p class="sub_menu_button">Техника</p>
                </div>
            </a>
        </div>
        <div class="col-md-2 d-flex justify-content-center align-items-center">
            <a href="" class="sub_menu_button">
                <div class="sub_menu_button d-flex justify-content-center align-items-center">
                    <p class="sub_menu_button">Техника</p>
                </div>
            </a>
        </div>
        <div class="col-md-2 d-flex justify-content-center align-items-center">
            <a href="" class="sub_menu_button">
                <div class="sub_menu_button d-flex justify-content-center align-items-center">
                    <p class="sub_menu_button">Техника</p>
                </div>
            </a>
        </div>
    </div>
</div>